@import "_media-queries";
@import "colors";

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito";
  line-height: 1.3;
  margin: 0;
  padding: 0;
  background-color: $primary;
  color: $textPrimary;
}

body.dark-mode {
  background-color: $secondary;
  color: $textSecondary;
}

h1,
h2,
h3,
p {
  margin: 0;
  font-size: 0.9em;
}
