@import "global";

.content {
  padding: 0 1em;

  &__title {
    border-top: 2px solid #eee;
    padding: 1em 0;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 1.5rem;
    gap: 1.5rem;
    padding-bottom: 2em;
    border-bottom: 2px solid #eee;

    .card {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      flex: 1 0 19em;
      max-width: 35em;
      overflow: hidden;
      border-radius: 2px;
      background: white;
      color: black;
      box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
      font-size: 1rem;
      text-align: center;
      padding: 2em;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      -ms-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;

      &:hover {
        transition: all 200ms ease-in-out;
        transform: scale(1.05);
      }

      &__title {
        padding: 0.7em 0;
      }

      p {
        line-height: 1.5;
        text-align: start;
      }

      h3 {
      }
    }
  }
}
