.content {
  padding: 0 1em;

  .card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex: 1 0 19em;
    max-width: 32em;
    overflow: hidden;
    border-radius: 2px;
    background: white;
    color: black;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
    font-size: 1rem;
  }
}
