@import "global";

.hero {
  padding: 0 1em;
  margin: 2.5em 0;

  &__title {
    font-size: 1.8em;
    span {
      color: $accentred;
    }
  }

  &__para {
    opacity: 0.9;

    p {
      line-height: 2;
      a {
        color: inherit;
        margin-left: 0.5em;
      }
    }

    #p1 {
      padding: 1em 0;
    }
  }
}
