@import "global";

.hero {
  padding: 0 1em;
  margin: 2.5em 0;

  &__title {
    font-size: 2.5em;
    span {
      color: $accentred;
    }
  }

  p {
    line-height: 2;
  }

  &__para2 {
    display: flex;
  }
}
